build/
pl0
*.zip
*.exe
*.o
*.obj
*.dot
*.id*
*.nam
*.til
/input.txt
/cleaninput.txt
/lexemetable.txt
/tokenlist.txt
/lexer.pdf
/ast.pdf
/symboltable.txt
/unoptimized_cfg.pdf
/cfg.pdf
/acode.txt
/mcode.txt
/stacktrace.txt
